/* PC */
@media (min-width:1024px){
#header .mobile-menu {
    display: none;
}
}

/* Tablet */
@media (min-width:740px) and (max-width:1023px){
#header .search-btn {
    display: none;
}
}
/* Mobile */
@media (max-width:740px) {
    #nav > li {
        display: block;
      
        
    }
    #header .search-btn {
       display: none;
    }
}