* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}
#main {

/* Start Navigation */

}
#header {
height: 50px;
background-color: #000;
position: fixed;
top: 0;
left: 0;
right: 0;


}
/* Start Search-Button */
#header .search-btn {
    float: right;
    
}

#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 50px;
    padding: 12px 24px;
    cursor: pointer;
    
    
}

#header .search-btn:hover {
    background-color: #f44336;

}
#nav {
    display:inline-block;
    position: relative;
}

#nav, .subnav {
    list-style-type: none;;
}
#nav > li {
    display: inline-block;
}
#nav li {
    
    position: relative;
}

#nav > li >a  {
    color: #fff;

}
#nav>li>a {
    text-transform: uppercase;
}
#nav li a {
    
    text-decoration: none;
    line-height: 50px;
    padding: 0 24px;
    width: 100%;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
color: #000;
background-color: #ccc;
display: block;

}

#nav .subnav {
    background-color: #fff;
     position: absolute; 
     min-width: 160px;
      display: none; 
     box-shadow: 0 0  10px rgba(0, 0, 0, 0.3);
     top: 100%;
     left: 0%;
        
     /* width:   */
    
}

#nav .subnav a {
    color: #000;
     padding: 0 12px; 
     line-height: 38px;
   
}

#nav li:hover .subnav {
    display: block;
}

#nav .nav-arrow-down {
font-size: 14px ;

}

/* END Navigation */
/* Star Slider */
#slider {
position: relative;
margin-top: 50px;
padding-top: 50%;
background: url('/assets/css/img/chicago\ \(1\).jpg') top center / cover no-repeat ;
}

#slider .text-content {
position: absolute;
bottom: 48px;
color: #fff;
/* left: 50%; */
/* transform: translateX(-50%);
text-align: center; */
width: 100%;

}

#slider.text-heading {

}
#slider .text-des {


}
#content {

}
#footer {


}