* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}
#main {

/* Start Navigation */

}
.text-white {
    color: #fff !important;
}
#header {
height: 50px;
background-color: #000;
position: fixed;
top: 0;
left: 0;
right: 0;


}
/* Start Search-Button */
#header .search-btn {
    float: right;
    
}

#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 50px;
    padding: 12px 24px;
    cursor: pointer;
    
    
}

#header .search-btn:hover {
    background-color: #f44336;

}
#nav {
    display:inline-block;
    position: relative;
}

#nav, .subnav {
    list-style-type: none;;
}
#nav > li {
    display: inline-block;
}
#nav li {
    
    position: relative;
}

#nav > li >a  {
    color: #fff;

}
#nav>li>a {
    text-transform: uppercase;
}
#nav li a {
    
    text-decoration: none;
    line-height: 50px;
    padding: 0 24px;
    width: 100%;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
color: #000;
background-color: #ccc;
display: block;

}

#nav .subnav {
    background-color: #fff;
     position: absolute; 
     min-width: 160px;
      display: none;  
     box-shadow: 0 0  10px rgba(0, 0, 0, 0.3);
     top: 100%;
     left: 0%;
        
     /* width:   */
    
}

#nav .subnav a {
    color: #000;
     padding: 0 12px; 
     line-height: 38px;
   
}

#nav li:hover .subnav {
    display: block;
}

#nav .nav-arrow-down {
font-size: 14px ;

}

/* END Navigation */
/* Star Slider */
#slider { 
position: relative;
margin-top: 50px;
padding-top: 50%;
background: url('/assets/css/img/slider/chicago.jpg') top center / cover no-repeat ;
z-index: -1;
}

#slider .text-content {
position: absolute;
bottom: 48px; 
color: #fff;


/* cach 1 can giua  */
/* left: 50%; */
/* transform: translateX(-50%);
text-align: center; */
transform: translateX(-50%);
text-align: center;
left: 50%;
/*  cach 2 can giua width: 100%; */

/* cach 3 can giua */
/* left 0 & right = 0 */

}

#slider .text-heading {
font-weight: 500;
font-size: 24px;
margin: 25px;
}
#slider .text-des {
font-size: 15px;

}
#content {

} 
#content .content-section {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 16px;
}

#content .seaction-heading{ 
margin: 10px 0;
text-align: center;
font-weight: 24;
letter-spacing: 4px;
}

#content .section-sub-heading{
margin: 30px 0;
text-align: center;
font-style: italic;
opacity: 0.6;

}

#content .about-text {
    text-align: justify;
    font-size: 15px;
    margin: 15px 0;
    line-height: 1.6;

}

#content .member-list {
    margin-top: 48px;
    overflow: hidden;
}

#content .member-item {
    float: left;
    width: 33.33%;
    text-align: center;
}

#content .member-name {
font-size: 15px;

}

#content .member-img {
    margin-top: 15px;
    width: 154px;
    border-radius: 5px;
}

#content .tour-section {
    background-color: #000;
}
.tickets-list {
    background-color: #fff;
    color: #000;
}

.tickets-list li {
color: #ddd;
font-size: 15px;
padding: 8px 16px;
border-bottom: 1px solid #ddd;
list-style-type: none;
}

.sold-out {
margin-left: 15px;
color: #fff;
background: #f44336;
padding: 3px 8px;
}
.quantity {
    float: right;
    color: #fff;
    width: 28px;
    height: 26px;
    border-radius: 50%;
    background-color: #000;
    text-align: center;
    line-height: 26px;
    margin-top: -3px;
}

.places-list {
margin-top: 32px;
overflow: hidden;
margin-left: -8px;
margin-right: -8px;



}
.place-item {
float: left;
width: 33.33%;
padding: 0 8px;

}

.place-img {
width: 100%;
display: block;

}
.place-img:hover {
    opacity: 0.6;
}

.place-body {
    background-color: #fff;
    color: #000;
  

}
.place-heading {
padding-top: 15px;
margin-left: ;: 10px;

}
.place-time {
margin-top: 20px;

}
.places-desc {
margin-top: 20px;
margin-bottom: 20px;

}
.place-buy-btn {
padding: 8px 16px;
background-color: #000;
text-decoration: none;
color: #fff;
margin-bottom: 16px;

}
.place-buy-btn:hover {
    background-color: #fff;
    color: #000;
}
#footer {


}